.lf{
    float: left;
}
.rt{
    float: right;
}
.red{
    color:#e43937;
}
.blue{
    color: #2d8cf0;
}
.rept{
    position: relative;
}
.center{
    text-align: center;
}
.bold{
    font-weight: 700;
}